*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-image: url('test.jpg');
    background-position: center;
    background-size: cover;
    width:100%;
    height: 480px;
    margin-top: -20px;
}
.table1{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    padding-top: 21px;
    float:right;
   

}
.menu{
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    height:70px;
    width: 100%;
    position:fixed;
    top:0;
}

.image1{
    margin-left: 60px;
    margin-right: 80px; 
    padding-top: 10px;
    float: left;
    

}
td a{
    color: #fff;
}

td{
    padding-right: 30px;
}

.btnInscription{
    color:white;
    background-color: #008AFF;
    border-radius: 20px;
    height:40px;
    width: 160px;
    border: none;
    box-shadow: 0px 0px 35px -6px rgb(104, 168, 221);
}

.Class1{
    color: white;
    font-size: 40px;
    padding-top:170px;
    margin-left: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Class2{
    color: white;
    font-size: 20px;
    margin-top: 34px;
    margin-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btnInscription2{
    float: left;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 69px;
    color:white;
    border-radius: 30px;
    height:50px;
    width: 170px;
    border-color: white;
    background: none;
    box-shadow: 0px 0px 35px -6px rgb(104, 168, 221);
}

.Ecole{
    font-size: 15px;
    margin-top: 25px;
    margin-left: 9px;
    color:white;
    border-radius: 30px;
    height:50px;
    width: 260px;
    border : none;
    background-color: #008AFF;
    box-shadow: 0px 0px 35px -6px rgb(104, 168, 221);
}

.icon2{
    z-index: 1;
    padding-top:30px;
    margin-left: -240px;
}

.titre1{
    margin-top: 100px;
    font-size: 40px;
    font-family: Montserrat;
    text-align: center;

}

pre{
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: lighter;
    font-weight: 100;
}

.icons{
    margin-left: 300px;
    margin-top: 30px;

}

.icon{
    margin-right: 330px;
}


h4{
font-size: 24px;
letter-spacing: 0.08em;
color: rgb(92, 91, 91);
margin-bottom: 30px;
}

.parag{
    display:flex;
    text-align:center;
 
}

.parag1{
    margin-top:30px;
    margin-left:60px;
    margin-bottom: 30px;   
    width: 350px;
    line-height: 25px;
}

.parag2{
    margin-top:30px;
    margin-left:150px;
    margin-bottom: 30px;
    width: 350px;
    line-height: 25px;
}

.parag3{
    margin-top:30px; 
    margin-bottom: 30px;
    margin-left: 200px;
    width: 350px;
    line-height: 25px;
}

.imageleft{
    margin-top:70px;
    float:left;
}

.paragright{
    margin-top:70px;
    width:613px;
     height:500px;
     float: right;
     background-color: #008AFF;
}

.titre1{
    color: black;
    text-align: center;
    font-size: 40px;
    font-family:Montserrat;
}

.titre2{
    margin-top:30px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family:Montserrat;
}

.parag4{
    margin-left:40px;
    margin-right:80px;
    margin-top:30px;
    color: white;
    font-size: 15px;
    font-family:Montserrat;
    line-height: 28px;
}



.simp{
    color: white;
    font-size: 50px;
    margin-left: -45px;
}


.blue{
    background-color:#008AFF;
    height: 200px;
    width:100%;
    margin-top: -4px;
}

h2{
    text-align: center;
    color: white;
    font-size: 60px;
}

.paragTab{
    margin-top:30px;
    color:white;
    text-align: center;
    font-size: 20px;
}

.lastparag{
    font-size: 15px;
    margin-left:70px;
    font-family: montserrat;
    margin-top:100px;
    letter-spacing: 0.08em;
    line-height: 40px;
    margin-right: 70px;
}

.ocp{
    margin-top: 200px;
    font-size: 40px;
    text-align:center;
    font-family: montserrat;
}

.imOcp{
    text-align: center;
    margin-top: 10px;
}
.table3{
    width:100%;
     text-align:center;
      margin-top:90px;
}

.btnInscription3{
    color:white;
    background-color: #008AFF;
    border-radius: 20px;
    height:40px;
    width: 400px;
    border: none;
    box-shadow: 0px 0px 35px -6px rgb(104, 168, 221);
    margin-right: -140px;

}

.insc{
    text-align: center;
    font-family: montserrat;
    font-size: 30px;
}

.footer{
    background-color: black;
    width: 100%;
    height: 60px;
    margin-top:60px;
  
}

.table4{
    color: #666666;
    text-align: right;
    width: 100%; 
    font-family: montserrat;
    letter-spacing: 0.08em;
}

.last{
    float:right;
}

.copy{
    margin-right: -50px;
}
.supp{
    color:rgb(41, 122, 230);
}

.contact{
    float:left;
}
.zet{
    margin-left: 800px;
}
#az{
    margin-left: 160px;
}
#ae{
    margin-left: 190px;
}
#ar{
    margin-left: 220px;
}